<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Your album is ready for download</title>
  <style>
    body { font-family: Arial, sans-serif; font-size: 16px }
  </style>
</head>
<body>
  <p>
    Your album '{{ order.album }}' is available for download:
  </p>
  <p>
    <a href="{{ host }}{{ order.files.url }}">{{ host }}{{ order.files.url }}</a>
  </p>
</body>
</html>
